/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/* 
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;		
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */


.homepage {
	font-size: 16px;
	line-height: 1.5em;
	background-image: url(../img/Desktop-HD.jpg);
	background-size: cover;
}


:root {
  --mainColor: #ff9800;;
}

/*---
body {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  height: 100vh;
  justify-content: center;
}

---*/

a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}


/*---Home Page---*/

 .grid-container-fontpage{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  margin-top: 50px;
  margin-right: 150px;
}

.container {
font-family: 'Montserrat', sans-serif;
font-weight: 200;
text-align: right;
  font-size: 80px;
  line-height: 82px;
  color: #999;
  letter-spacing: 5px;
  display:inline-block;
  transition: 0.5s;
  padding-top: 100px;
  padding-left: 50px;
  background-color: blue;
}


.frontpagetitle{
	font-family: 'Montserrat', sans-serif;
	font-size: 120px;
	color: white;
	line-height:122px;
	text-align: right;
	font-weight: 700;
    background-color: red;

}

.grid-span{
grid-column-start: 1;
grid-column-end: 3;
display:inline-block;
text-align: right;
}

.frontpagesubtitle {
font-family: adobe-caslon-pro, serif;
font-weight: 400;
font-style: normal;
color: white;
font-size: 60px;
}

.frontpagesubtitle a:visited{
	color: white;
}


/*---Home Page Ends---*/


/*---Search Page---*/


/*---
body {  font-family: sans-serif;margin:0; padding:0;  -webkit-box-sizing: border-box;box-sizing: border-box;}
*, *::before, *::after { box-sizing: inherit;}
.large-6 { width: 25%;    float: left; margin:0;}

.filter-wrap {
    background-color: #666;
    height: 1000px;
    padding: 60px 80px;
    color: #fff;
}
.large-18 { width: 75%; float: right;margin:0;}
.fliter-results { padding: 60px 80px;}

.grid-item {width:25%; float:left; margin-bottom:20px; padding:0 30px;}

.img {height:150px; width:100%; display:block; margin-bottom:15px;}

.grid-item p {font-size:14px; margin:0 0 4px 0;}
.grid-item p.title {font-size:18px; font-weight:bold; margin-bottom:5px;}

.ui-group button {width: 100%;text-align: left;position: relative;outline: none !important;margin-bottom: 10px;}

button {-webkit-appearance: none;-moz-appearance: none;background: transparent;padding: 0;border: 0;border-radius: 0;line-height: 1; cursor:pointer; color:#fff; font-size:18px}

.ui-group button.is-checked::after {background: transparent;border: 3px solid #fff;}

.ui-group button::after {content: '';display: block;background-color: white;width: 14px;height: 14px;position: absolute;right: 0;top: 1px;}

.ui-group h3 {position:relative; display:table;}
.ui-group h3::after {height:2px; width:100%; background:#fff; position:absolute; bottom:-2px; left:0; content:'';}

---*/


.grid-container div {
  transition: all 0.5s ease;
}

.hidden {
  display: none;
}


.searchpage{
	font-size: 16px;
	line-height: 1.5em;
	background-image: url(../img/Background2.jpg);
	background-size: cover;
}

.ex span {
    opacity: 0;
    transition: opacity 1300ms

}

.ex span:nth-child(1)  { transition-delay:  200ms }
.ex span:nth-child(2)  { transition-delay: 1200ms }
.ex span:nth-child(3)  { transition-delay:  800ms }
.ex span:nth-child(4)  { transition-delay:  300ms }
.ex span:nth-child(5)  { transition-delay:  700ms }
.ex span:nth-child(6)  { transition-delay:  600ms }
.ex span:nth-child(7)  { transition-delay:  400ms }
.ex span:nth-child(8)  { transition-delay:  900ms }
.ex span:nth-child(9)  { transition-delay:  700ms }
.ex span:nth-child(10) { transition-delay:   650ms }
.ex span:nth-child(11) { transition-delay:   550ms }
.ex span:nth-child(12) { transition-delay:   950ms }
.ex span:nth-child(13) { transition-delay:   150ms }
.ex span:nth-child(14) { transition-delay:   1050ms }
.ex span:nth-child(15) { transition-delay:   250ms }
.ex span:nth-child(16) { transition-delay:   120ms }
.ex span:nth-child(20) { transition-delay:   500ms }
.ex span:nth-child(21) { transition-delay:   2000ms }
.ex span:nth-child(22) { transition-delay:   1950ms }
.ex span:nth-child(23) { transition-delay:   1650ms }
.ex span:nth-child(24) { transition-delay:   1750ms }
.ex span:nth-child(25) { transition-delay:   1650ms }
.ex span:nth-child(26) { transition-delay:   1750ms }
.ex span:nth-child(27) { transition-delay:   1350ms }
.ex span:nth-child(28) { transition-delay:   1650ms }
.ex span:nth-child(29) { transition-delay:   1300ms }
.ex span:nth-child(30) { transition-delay:   1650ms }
.ex span:nth-child(31) { transition-delay:   1450ms }
.ex span:nth-child(32) { transition-delay:   900ms }
.ex span:nth-child(33) { transition-delay:   1150ms }
.ex span:nth-child(34) { transition-delay:   1050ms }
.ex span:nth-child(35) { transition-delay:   1850ms }
.ex span:nth-child(36) { transition-delay:   1650ms }

.ex:hover span {
    opacity: 1
}

.text {
  width: 100%;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
}
.text p {
  color: #ccc;
  padding-top: 10px;
font-family: 'Montserrat', sans-serif;
}

.detailedpagetitle{
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  color: black;
  line-height:122px;
  text-align: right;
  font-weight: 600;
  margin-right: 150px;
}

.detailedpagesubtitle {
font-family: adobe-caslon-pro, serif;
font-weight: 400;
font-style: normal;
color: black;
font-size: 45px;
margin-left: 50px;
line-height: 100px;
width: 100px;
}


.detailedpagesubtitle a:visited {
	color: black;
}

.vl {
  border-left: 3px solid black;
  height: 2000px;
  position: absolute;
  margin-left: 350px;
  margin-top: 180px;
  top: 0;
display: inline-block;
}

.itemimg {
display: inline-block;
margin-left: 500px;
height: 400px;
margin-top: -250px;

}



.itemdetails h3 

{
font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 700;
		margin-left: 500px;
}



.itemdetails h4

{
font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight:600;
	margin-left: 500px;

}

.itemdetails p

{
font-family: adobe-caslon-pro, serif;
	font-size: 20px;
	font-weight:400;
	margin-left: 500px;
	width: 800px;
}

.filter{
	margin-top: -250px;
}




.category{
font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight:400;
margin-left: 450px;
}

.year, .medium{
font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight:400;
margin-left: 20px;
}

.allcollections h3
{
	margin-left: 450px;
	margin-top: 20px;
	width: 200px;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 20px;
	font-weight: 700;
	background-color: #ff9800;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  padding: 5px;
  		margin-left: 450px;
      margin-top: 10px;
}

.searchimg{
display: inline-block;
height: 200px;
margin-top: 20px;
text-align: center;
margin: auto;
}

.search h3 

{
font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;

}


/*---Search Page Ends---*/

/* ------------------------------------------------------------ */
/* media query containing styles for larger screens */
@media (max-width: 414px) {

body{
background-size: auto 100%;
}

.homepage {
  background-image: url(../img/Repeated-background.jpg);
  background-size: 1000px;
 }

 .grid-container-fontpage{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top:50px;

}

.grid-span{
grid-column-start: 1;
grid-column-end: 2;
padding-top: 50px;
}


.container {
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  padding-top: 50px;
  padding-left: 0px;
}

.frontpagetitle{
	font-size: 50px;
	text-align: center;
	line-height: 52px;
  margin: auto;
  padding-top: 50px;
}

.frontpagesubtitle{
margin-left:0px;
text-align: center;
font-size: 40px;
margin:0px;
padding:0px;
line-height:80px;
margin: auto;
}


.detailedpagetitle{
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  width: 250px;
  margin:auto;
  margin-top: 50px;

}

.detailedpagesubtitle {
font-style: normal;
color: black;
font-size: 30px;
text-align: center;
width: 250px;
margin:auto;

}

.vl {
  height: 0px;
  border-left: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin: auto;
  text-align: center;
}


.filter{
  width: 280px;
  margin: auto;
  margin-top: 30px;
}



.category,.year, .medium{
margin-left: 0px;
}




.searchimg{
display: inline-block;
width: 200px;
height:auto;
margin: auto;

}

.itemimg{
  display: inline-block;
  width: 300px;
  height: auto;
  margin: auto;
  padding-left: 50px;
}



.itemdetails h3 

{
  font-size: 25px;
  font-weight: 700;
  width: 300px;
  margin: auto;
  margin-top: 20px;
}



.itemdetails h4

{

  font-size: 18px;
  width: 300px;
  margin: auto;
  margin-top: 10px;

}

.itemdetails p

{
font-family: adobe-caslon-pro, serif;
  font-size: 16px;
  width: 300px;
  margin: auto;
  margin-top: 5px;
}


} /* end media query */
