---
layout: search
title: Search Page
---

<div class="filter">

    <p>
      Artifact Class: 
      <a id="show-Apperal" href="#">Apparel</a> | 
      <a id="show-Books and Printing Materials" href="#">Books and Printing Materials</a>
      <a id="show-Related" href="#">Movie Related Merchandise</a>
 <a id="show-Photos" href="#">Photos & Drawings</a>
<a id="show-Equipments" href="#">Equipments</a>
<a id="show-Promotion" href="#">Promotion Materials</a>
<a id="show-Props" href="#">Props Scenery</a>
<a id="show-Music" href="#">Music & Sounds</a>
<a id="show-Copys" href="#">Movie & Preview Copys</a>
    </p>

    <p>
      Medium:
      <a id="show-" href="#">show</a> | 
      <a id="hide-Equipments" href="#">hide</a> 
    </p>

    <p>
      All:
      <a id="show-all" href="#">All</a> | 
      <a id="hide-all" href="#">Reset</a> 
    </p>

  <select class="year">
  <option value="all">All Years</option>
  <option value="volvo">1910s</option>
  <option value="saab">1920s</option>
  <option value="opel">1930s</option>
  <option value="audi">1940s</option>
  <option>1950s</option>
  <option>1960s</option>
  <option>1970s</option>
  <option>1980s</option>
  <option>1990s</option>
  <option>2000s</option>
</select>

<select class="medium">
  <option value="all">All Mediums</option>
  <option value="volvo">TV</option>
  <option value="saab">Movie</option>
</select>



<div class="grid-container">

{% for page in site.pages %}
{% if page.img_path contains 'img' %}
<div class="search {{ page.artifact_class }} {{ page.medium }} all">
<a href="{{ site.baseurl }}{{ page.url }}"><img class="searchimg" src="{{ page.img_path }}"></a>
	<h3>{{ page.title }}</h3>
</div>
{% endif %}
{% endfor %}

</div>

</div>

  <!-- Load scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>


  <script>

     /* $('.food').hide(0); */

      $("a#show-Apperal").click(function() {
        $('.Apperal').show(300);
      });

      $("a#show-Books and Printing Materials").click(function() {
        $('.Books and Printing Materials').show(300);
      });

      $("a#show-Equipments").click(function() {
        $('.Equipments').show(300);
      });

      $("a#hide-Equipments").click(function() {
        $('.Equipments').hide(300);
      });

      $("a#show-all").click(function() {
        $('.all').show(300);
      });

      $("a#hide-all").click(function() {
        $('.all').hide(300);
      });

  </script>