<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Title goes here</title>
	<meta name="description" content="">
	
	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="css/sitewide.css">
	
	<!-- Webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/zjm5yba.css">

</head>

<body>

<div class="detailedpagecontainer">
<h1 class="detailedpagetitle">MUSEUMN OF THE MOVING IMAGES</h1>
<h2 class="detailedpagesubtitle"><a>collections</a> <br/> <a>about</a></h2>
</div>

<div class="vl"></div>




{% for items_item in site.item %}

<img class="itemimg" src="img/ShoesHiBrowsBootsca1965.jpg">

<div class="itemdetails">

	
<h3>{{ page.title }}</h3>

<h4>Description</h4>
<p>Boots designed in the style of those worn by the performers on the television series Hullabaloo. These size 6.5 women's boots are white leather with a blue, red, and black color block design. The boots are with their original hang tags. </p>



<h4>Accession Number</h4>
<p>1987.059.0001-.0006</p>

<h4>Artifact Class</h4>
<p>Apperal</p>

<h4>Category</h4>
<p>Merchandising</p>

<h4>Dimension</h4>
<p>10 x 3 x 10 inches</p>

<h4>Creation Date</h4>
<p>circa 1965</p>

<h4>Material</h4>
<p>leather</p>

<h4>Related Movie/TV Name</h4>
<p>Hullabaloo (1965-1966)</p>

<h4>Medium</h4>
<p>TV</p>

{% endfor %}

</div>


	
</body>
</html>
